<!-- wp:template-part {"slug":"event-nav"} /-->

<header class="relative min-h-screen flex flex-col justify-between px-6 py-8 md:px-16 lg:px-24 bg-linear-to-b from-[#25152b] to-[#2d1b33]">
    <div class="flex-1 flex flex-col justify-center items-start text-center max-w-6xl w-full mx-auto my-12 gap-y-6">
        <div class="flex items-center gap-3">
            <span class="w-10 h-px bg-[#5ce1ca]"></span>
            <span class="text-xs font-bold tracking-widest uppercase text-[#5ce1ca]">GYC Annual congress &#x2022; 2026</span>
        </div>

        <h1 class="font-anton text-[#FEFFE9] text-6xl md:text-8xl font-bold tracking-wide mb-6 uppercase">
            Stand Fast
        </h1>

        <div class="flex gap-12 mb-12">
            <a href="#" class="text-sm text-white font-bold tracking-widest uppercase hover:opacity-80 transition-opacity">
                Register Now
            </a>
            <a href="#" class="text-sm text-white font-bold tracking-widest uppercase hover:opacity-80 transition-opacity">
                View Schedule
            </a>
        </div>

        <hr class="border-t border-white/20 mb-12 w-full" />

        <div class="grid grid-cols-2 md:grid-cols-4 gap-8 md:gap-4">
    
            <div class="flex flex-col gap-1">
            <span class="text-4xl md:text-5xl lg:text-6xl font-serif text-[#A7F3D0]">
                4,800+
            </span>
            <span class="text-xs md:text-sm font-bold tracking-widest font-jakarta uppercase text-white/60">
                Attendees
            </span>
            </div>

            <div class="flex flex-col gap-1">
            <span class="text-4xl md:text-5xl lg:text-6xl font-serif text-[#A7F3D0]">
                3
            </span>
            <span class="text-xs md:text-sm font-bold tracking-widest font-jakarta uppercase text-white/60">
                Days
            </span>
            </div>

            <div class="flex flex-col gap-1">
            <span class="text-4xl md:text-5xl lg:text-6xl font-serif text-[#A7F3D0]">
                28
            </span>
            <span class="text-xs md:text-sm font-bold tracking-widest font-jakarta uppercase text-white/60">
                Speakers
            </span>
            </div>

            <div class="flex flex-col gap-1">
            <span class="text-4xl md:text-5xl lg:text-6xl font-serif text-[#A7F3D0]">
                60+
            </span>
            <span class="text-xs md:text-sm font-bold tracking-widest font-jakarta uppercase text-white/60">
                Seminars
            </span>
            </div>

        </div>
        
    </div>
</header>

<!-- wp:post-content /-->

<!-- wp:template-part {"slug":"event-footer"} /-->